* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1400px;
}
.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
tr,
th,
td {
  border: 1px solid white;
  padding: 5px 10px;
}
th {
  background-color: rgba(0, 128, 128, 0.485);
}
td {
  background-color: bisque;
}
button {
  background-color: red;
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  border-color:red ;
}
