section {
  border: 1px solid black;
  margin-top: 80px; 
  .section {    
    height: 100vh;
    @include flexbox(center, center);
    gap: 20px;
    div {
      height: 250px;
      width: 250px;
      border: 2px dotted black;
      background-color: yellow;
      @include flexbox(center, center);
      font-size: 16px;
      font-weight: bold;
      transition: 1s;
      &:hover {
        p {
          display: none;
        }
        transform: rotateX(360deg);        
      }
      &.box1:hover{
        @include url("../images/Bob\ Minion.jpeg");
      }
      &.box2:hover{
        @include url("../images/Minions\ _\ Minions\ bonitos\,\ Minion\,\ Minions.jpeg");
      }
      &.box3:hover{
        @include url("../images/Photos\ from\ Fashion\ Police_\ Minions\ Edition\ -\ E!\ Online.jpeg");
      }      
    }
  }
}
