* {
  margin: 0 auto;
  padding: 0;
}
section {
  display: flex;
  flex-direction: column;
}
input{
    margin-bottom: 5px;
}
table, th, td,tr {
  border: 1px solid black;
  border-collapse: collapse;
}
#idUp, #nameUp, #nameDown {
    display: none;
}
